@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root {

    --main-base-color: #5d737e;
    --main-basewhite-color: #ccdbdc;
    --main-primary-color: #64b6ac;
    --main-primarydark-color: #0d5c63;
    --footer-base-color: #022528;
    --white : #fff;

}
div {
    display: block;
}


.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.pl-0, .px-0 {
    padding-left: 0!important;
}




/* ---------------------------------------------NAVBAR-------------------------------------------------------------- */
.fa, .fas {
    font-weight: 900;
    padding: 5px;
}
.fab, .far {
    font-weight: 400;
    padding: 5px;
}

.navik-header{
    position: relative;
    z-index: 1040;
    font-size: 16px;
    line-height: 1.428572;
    background-color: #fff;
    text-size-adjust: 100%;

}
.bg-base{
    background-color: var(--main-primarydark-color)!important;
}

.bg-base .container{
    padding-top: 10px;
    padding-bottom: 10px;
   
}


.btn-navi {
    background-color: var(--main-primarydark-color);
    color: white;
}

.btn-navi:hover{
    background-color: var(--main-primary-color);
    color: var(--main-primarydark-color);
}

/*    ------------------------------------------- MAIN NAVBAR------------------------------------------ */

.line-icon-img{
    max-width: 70px;
    height: auto;
    margin-bottom: -15px;
}

.navbar {
    
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    transition: all .3s ease-in-out;
    z-index: 10;
}

.navbar .container{
    display: flex;
    justify-content: space-between;
    transition: all 0.3s ease-in-out;
    align-items: center;

    position: relative;
}

.navbar a {
    color: black;
    text-decoration: none;
    transition: all .3s ease-in-out;
    padding-bottom: 20px;
}

.navbar.active {
    background-color: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.navbar.active a{
    color: #000;
}
.navbar.active .navbar-brand{
    padding: 0px;
    margin: 0;
}
.navbar.active a{
    padding-bottom: 0px;
}

.navbar.active .container {
    padding: 5px 0;

}

.navbar a.current, 
.navbar a:hover{
    color: var(--main-primarydark-color);
}

.nav-link:hover{
    color: var(--main-primarydark-color);
}

.nav-item .active{
        color: var(--main-primarydark-color)!important;
}
   

.navbar-brand {
    padding-left: 140px;
    color: #000 !important;
    /* font-weight: bold; */

   
}
.navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    padding-left: 1400px;
}

.navbar-brand img{
    max-width: 60px;
    height: auto;

}


.dropdown-menu {
    padding: 30px;
    margin-top: 0px;
    border-top: 3px solid var(--main-primarydark-color)!important;
    border-style: none;
    border-radius: 0;
}



.dropdown  .dropdown-menu{
    display: none;
}
.navbar .dropend a{
    color: gray;
    padding: 0.5em 1em;
}


.dropdown:hover > .dropdown-menu,  .dropend:hover > .dropdown-menu{
    display: block;

    
}

.dropend:hover > .dropdown-menu{
    position: absolute;
    top: 0;
    left: 121%;
    margin-top: -2.0em;


}
.dropdown-item.active, .dropdown-item:active {
   
    text-decoration: none;
    background-color: white important!;
}

/* ---------------------------------------------------MEGA MENU -----------------------------------------------------------*/

.mega-menu{
    border-radius: 0;
    border: none;
    padding: 50px 30px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
    left: 0%;
    right: -94% ;
    border-top: 3px solid var(--main-primarydark-color)!important;
    
}

.mega-menu img{
    max-width: 200px;
    height: auto;

}
.mega-menu p{
    font-size: 15px;
}

.mega-menu-li {
    position: inherit;
}

.mega-menu ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
}



.mega-menu li p{
    color: gray;
    padding: .3em 1em;
}

.mega-menu li a{
    font-weight: bold;
    font-size: 1em;
    color: black;
}


/* ----------------------------------------------COMPONENTS MENU---------------------------------------- */
.components-menu{
    

    border-radius: 0;
    border: none;
    padding: 40px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, .23);
    left: 1%;
    border-top: 3px solid var(--main-primarydark-color)!important;

}

.components-menu-li{
    position: inherit;   

}

.components-menu ul {
    list-style: none;
    padding: 0;
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    
}

.components-menu.show{
    display: flex;

}

.components-menu li{
    display: inline-block;
    margin-right:110px;
}

.components-menu li a:first-child{
    font-weight: bold;
    font-size: 1em;
    color: black;
   
    
}

.components-menu li a{
    
    color: gray;
    padding: .5em 1em;
}


.bg-image {
    
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;  
    height: 95vh;
}

.bg-fixed {
    background-attachment: fixed;
}


.banner {
    background-color: #fff;
    color: black;

}

.row.banner-menu{
    margin-top: 270px;

}
.banner-menu p{
    color:#737373;
}

.btn-banner{
    padding: .5em 1.5em;
    border-radius: 2em;
    font-size: 16px;
}

.btn-banner-menu{
    display: flex;
    width: 100%;
 
}

.btn-palette2 {
    color: #fff;
    background-color: var(--main-primary-color);
    
}

.btn-palette1  {
    color: #fff;
    background-color: var(--main-primarydark-color);
    
}

.btn-banner-menu .btn-palette2:hover{
   
    background-color:var(--main-primary-color);
}
.btn-banner-menu .btn-palette1:hover{
   
    background-color: var(--main-primarydark-color);
}

p{
    font-size: 1.2em;
}
.btn-about{
    color: #fff;
    font-size: 17px;
    padding: 15px 25px;
    border-radius: 35px;
    margin-top: 30px;
    background-color: var(--main-primarydark-color);
}
.btn-about i{
    font-size: 12px;
    line-height: 25px;
    margin-right: 5px;
}
.sec-context{
    text-align: center;
    width: 80%;
    margin-inline: auto;

}
.sec-context h3{
    font-size: 50px;
    margin-block: 20px;
}
.sec-context p{
    color: #858585;
    font-size: 20px;
}

/* ------------------responsive---------------------------- */

nav .openMenu{
    font-size: 2rem;
    margin: 20px;
    display: none;
    cursor: pointer;
    
}

nav .closeMenu{
    font-size: 2rem;
    display: none;
    cursor: pointer;
    
}

/* -------------------------------------------------------MAP--------------------------------  */
.map-wrapper {
    position: relative;
}
.pl-0, .px-0 {
    padding-left: 0!important;
}

.pr-0, .px-0 {
    padding-right: 0!important;
}
.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

.map-container>iframe {
    border: none;
}

iframe[Attributes ] {
    width: 100%;
    height: 100%;
}

iframe {
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
}

.map-container>iframe {
    border: none;
}

.map-container iframe{
    min-height: 450px;
}

/* ---------------------------------------------MAIN CONTENT---------------------------------------- */
.main-content {
    padding: 80px 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.7em + 0.75rem + 4px);
    padding: 0.375rem 1.125rem;
    font-size: .75rem;
    font-weight: 400;
    line-height: 1.7;
    color: #717171;
    background-color: transparent;
    background-clip: padding-box;
    border: 2px solid #e0e0e0;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control-lg {
    min-height: 3.375rem;
    font-size: .875rem;
}

textarea.form-control {
    min-height: 6.25rem;
}

textarea.form-control {
    height: auto;
}
.btn-group-lg>.btn-round.btn, .btn-round.btn-lg {
    border-radius: 1.6875rem;
}

.form-round.custom-select-lg, .form-round.form-control-lg {
    border-radius: 1.6875rem;
}


.no-gutters>.col, .no-gutters>[class*=col-] {
    padding-right: 0;
    padding-left: 0;
}

.btn-main{
    background-color: var(--main-primarydark-color);
    color: white;
}



/* CONTACT INFO SECTION  */

.bg-imgContactPage{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.text-white-75 {
    color: rgba(255,255,255,.75)!important;
}

.contact-info-list .contact-info-item {
    margin-bottom: 2rem;
}
.icon-info-1 {
    display: table;
}
.icon-info-1 .icon-element {
    display: table-cell;
    width: 50px;
    line-height: 1.2;
    color: #b3b6b7;
    text-align: center;
    vertical-align: top;
}
.contact-info-list .contact-info-item {
    margin-bottom: 2rem;
}
.icon-info-1 .icon-info-text {
    display: table-cell;
    vertical-align: top;
}
.btn-primary {
    color: #fff;
    background-color: #2196f3;
    border-color: #2196f3;
}

.btn-orchid {
    color: #fff;
    background-color: #ba68c8;
    box-shadow: 0 12px 35px -10px rgba(186,104,200,.55), 0 8px 10px -5px rgba(0,0,0,.09), 0 4px 25px -2px rgba(0,0,0,.14);
}

.btn-indigo {
    color: #fff;
    background-color: #1565c0;
    box-shadow: 0 12px 35px -10px rgba(21,101,192,.55), 0 8px 10px -5px rgba(0,0,0,.09), 0 4px 25px -2px rgba(0,0,0,.14);
}

.btn-group-sm>.btn, .btn-sm {
    padding: 0.3125rem 1rem;
    font-size: .6875rem;
    line-height: 1.5;
    border-radius: 0.1875rem;
}
.pt-2, .py-2 {
    padding-top: 0.5rem!important;
}


/* subscribe to newsletter section  */

.bg-contactUs-secImg{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 

}

.input-group-append, .input-group-prepend {
    z-index: 1;
    border: 0.3125rem solid transparent;
}

.input-group-append {
    margin-left: -2px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
*, ::after, ::before {
    box-sizing: border-box;
}
.input-group-inner>.custom-file, .input-group-inner>.custom-select, .input-group-inner>.form-control {
    position: relative;
    z-index: 1;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-color: transparent!important;
    box-shadow: none!important;
}

.input-group-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.btn-subscribe{
    background-color: var(--main-primary-color);
    color: white;
}


/* ------------------------------------FOOTER------------------------------------------------ */
/* footer  */


.bg-viridian-500 {
    background-color: var(--main-primarydark-color)!important;
}

.text-white-50 {
    color: rgba(255,255,255,.5)!important;
}
.widget {
    margin-bottom: 3.125rem;
}
.widget:last-child {
    margin-bottom: 0;
}
.input-group-append, .input-group-prepend {
    z-index: 1;
    border: 0.3125rem solid transparent;
}

.input-group-append {
    margin-left: -2px;
}
.input-group-append, .input-group-prepend {
   
    display: flex;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.input-group-inner {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}
.input-group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
}

.input-group-append .btn, .input-group-prepend .btn {
    padding-top: 0;
    padding-bottom: 0;
}
.btn-group-lg>.btn-round.btn, .btn-round.btn-lg {
    border-radius: 1.6875rem;
}
.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
}
.input-group-inner>.custom-file, .input-group-inner>.custom-select, .input-group-inner>.form-control {
    position: relative;
    z-index: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
    border-color: transparent!important;
    box-shadow: none!important;
}
.form-control-lg {
    height: calc(1.5em + 1rem + 4px);
    padding: 0.5rem 1.375rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: 0.3125rem;
}
.input-group-append, .input-group-prepend {
    z-index: 1;
    border: 0.3125rem solid transparent;
}
.input-group-append, .input-group-prepend {
    display: flex;
}

.input-group-append {
    margin-left: -2px;
}

.fa-ul {
    list-style-type: none;
    margin-left: 2.5em;
    padding-left: 0;
}
.fa-li {
    left: -2em;
    position: absolute;
    text-align: center;
    width: 2em;
    line-height: inherit;
    text-decoration: none;
}

.text-primary {
    color: #022528!important;
}
.footer-bottom {
    background-color: #022528;
}
.footer-bottom-container {
    position: relative;
    z-index: 1;
    color: white;
}
.btn-group-lg>.btn-round.btn, .btn-round.btn-lg {
    border-radius: 1.6875rem;
}

.btn-indigo.focus, .btn-indigo:focus, .btn-indigo:hover {
    color: var(--main-primarydark-color);
    background-color: white;
    border-color: white;
}
.btn-indigo{
    color: white;
}
.text-hover-primary:focus, .text-hover-primary:hover {
    color: #022528!important;
}
.d-flex {
    display: flex!important;
    text-decoration: none;
}

a {
    color: var(--main-primary-color);
    text-decoration: underline;
}

.text-footerEnd {
    color: rgba(255,255,255,.5)!important;
    text-decoration: none;
}

.text-footerEnd:hover{
    color: var(--main-primary-color)!important;
    text-decoration: none;
}
.btn-subscribe {
    color: white;
}
.btn-subscribe:focus, .btn-subscribe:hover {
    color: var(--main-primarydark-color);
    background-color: white;
    border-color: white;
}



